@import "_functions";
@import "_mixins";
@import "_variables";

.page-node-type-program.page-with-lb {
  .node--type-program {

    &.node--lb {
      margin-top: 0;
    }

    .node__content {
      .section-body {
        padding: 80px 0;

        @include media-breakpoint-down('md') {
          padding: 60px 0;
        }
      }
    }

    .block-views-blockcategories-listing-categories-listing {
      .field-category-description {
        margin-bottom: 20px;
        color: var(--ylb-color-dark-grey-1, darkgray);
      }

      .btn {
        text-decoration: none;
      }
    }
  }


  &.with-banner {
    @include media-breakpoint-down(sm) {
      padding-top: 0 !important;
    }

    #block-openy-carnation-tabs {
      display: block;
    }
  }
}
